<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>实时汇率查询</title>
    <link type="text/css" href="css/main.css"/>
    <style type="text/css">
        h2 {
            color: darkred;
        }

        table {
            width: 100%;
            align-items: center;
            text-align: left;
        }

        table .title td {
            background: #aaaaaa;
        }

        table .obb {
            background: #f4f4f4;
        }

        table input, select {
            width: 100%;
        }

        .bought_in {
            color: #ff1100;
        }

        .bought_out {
            color: #008000;
        }

        .tip {
            color: red;
            font-size: x-small;
        }

        .banner {
            width: 100%;
        }

        .banner img {
            width: 100%;
            height: auto;
        }
    </style>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
<div class="main">
    <h2>实时汇率</h2>
    <table id="rateTable">
        <tr class="title">
            <td style="width: 50%">货币对</td>
            <td>买入价</td>
            <td>卖出价</td>
        </tr>
    </table>
    <span class="tip">*实时汇率仅供参考,准确的汇率需要和客服确认</span>
</div>
<div id="bannerContainer" style="overflow: hidden;padding-top: 10px;">
    <div class="banner" onclick="jumpTo('https://jinshuju.net/f/wfJFHM')">
        <img id="test" src="img/571450957.jpg">
    </div>
    <div class="banner" onclick="jumpTo('http://a.app.qq.com/o/simple.jsp?pkgname=com.haituohuaxing.feichuguo')">
        <img src="img/21795710.jpg">
    </div>
    <div class="banner" onclick="jumpTo('http://mp.weixin.qq.com/s/1Fd84xmm5ElSe7P1xh8AKQ')">
        <img src="img/492368734.jpg">
    </div>
</div>
<script type="text/javascript">
    $('.banner img').css('display', 'none');

    $(document).ready(function () {
        $('.banner img').each(function (item) {
            $('.banner img').css('display', 'block');
            item.onload = function () {
                var $parent = $('#bannerContainer');
                var $first = $parent.find('div:first');
                var height = $first.height();
                $parent.css('height', height);
            }
        });

        initial();
        loaded();
    });

    function initial() {
        //获取微信签名
        var url = window.location.href;
        var timestamp = 1475115298;
        var randomStr = '123456';
        var signature = '';
        $.ajax({
            type: "post",
            url: "wechat/getSign",//URL
            data: {
                url: url,
                timestamp: timestamp,
                randomStr: randomStr
            },
            dataType: "json",
            async: true,
            success: function (data) {
                signature = data.sign;

                wx.config({
                    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: 'wx3d3983f770a1aafd', // 必填，公众号的唯一标识
                    timestamp: timestamp, // 必填，生成签名的时间戳
                    nonceStr: randomStr, // 必填，生成签名的随机串
                    signature: signature,// 必填，签名，见附录1
                    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                });

                wx.ready(function () {
                    wx.onMenuShareTimeline({
                        title: '鹏润汇金实时汇率查询', // 分享标题
                        link: url, // 分享链接
                        imgUrl: 'http://www.fcgliuxue.com/exchange/20170416223512.jpg', // 分享图标
                        success: function () {
                        },
                        cancel: function () {
                            // 用户取消分享后执行的回调函数
                        }
                    });

                    wx.onMenuShareAppMessage({
                        title: '鹏润汇金实时汇率查询', // 分享标题
                        desc: '鹏润汇金致力于提供给客户优惠客观，安全快速的外汇体验，为您的海外投资助理！', // 分享描述
                        link: url, // 分享链接
                        imgUrl: 'http://www.fcgliuxue.com/exchange/20170416223512.jpg', // 分享图标
                        type: '', // 分享类型,music、video或link，不填默认为link
                        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                        success: function () {
                        },
                        cancel: function () {
                            // 用户取消分享后执行的回调函数
                        }
                    });
                });
            }
        });
    }

    function loaded() {
        $.get('getRate', function (response) {
            var index = 0, item;
            for (index; index < response.length; index++) {
                item = response[index];
                var $tr = $('<tr>');
                if (index % 2 != 0) {
                    $tr.addClass('obb');
                }
                $tr.append('<td>' + item['name'] + '</td><td class="bought_in">' + item['in'] + '</td><td class="bought_out">' + item['out'] + '</td>');
                $('#rateTable').append($tr);
            }
        });

        $.get('getNames', function (response) {
            var index = 0, item;
            for (index; index < response.length; index++) {
                item = response[index];
                var $op1 = $('<option value="' + item + '">' + item + '</option>');
                var $op2 = $('<option value="' + item + '">' + item + '</option>');
                $('#nameOut').append($op1);
                $('#nameIn').append($op2);
            }
        });
    }

    setTimeout(function () {
        var $parent = $('#bannerContainer');
        var $first = $parent.find('div:first');
        var height = $first.height();
        $parent.css('height', height);

        function doScroll() {
            var $first = $parent.find('div:first');

            $first.animate({
                height: 0
            }, 1500, function () {
                $first.css('height', height).appendTo($parent);
            });
        }

        setInterval(function () {
            doScroll()
        }, 5000);
    }, 2000);

    function jumpTo(url) {
        if (url) {
            window.location.href = url;
        }
    }

    function calculate() {
        var bought_in = $('#nameIn').val();
        var bought_out = $('#nameOut').val();
        var count = $('#count').val();
        if (bought_in && bought_out && count) {
            $.ajax({
                url: 'calculate',
                type: 'POST',
                data: $('#calForm').serialize(),
                success: function (value) {
                    $('#bought_in').val(value);
                }
            });
        }
    }
</script>
</body>
</html>